@model proyecto_sena.Models.usuarioModel

<h1>Registrarse</h1>

@using (Html.BeginForm(actionName:"Register",controllerName:"Usuario",FormMethod.Post))
{
<label>Nombre</label>
@Html.TextBoxFor(modelo => modelo.usuario_Nombre)
<br />
<label>Apellido</label>
@Html.TextBoxFor(modelo => modelo.usuario_Apellido)
<br />
<label>Email</label>
@Html.TextBoxFor(modelo => modelo.usuario_correo)
<br />
<label>Password</label>
@Html.PasswordFor(modelo => modelo.usuario_Contraseña)
<br />
<input type="submit" value="Guardar" />
}